
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
html {
    background-color: #1b1f23;
}

.box {
    display: flex;
    border: white solid;
    background-color : white  ;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 5px;
    height: 100px;
}

.title {
    font-family: 'Kanit', sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.button {
    margin-left: 100px;
    border: #00308F, solid;
    border-radius: 1000px;
    background-color: #00308F;
    color: white;
    width: 200px;
    height: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.divTitle {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.divText {
    font-size: 20px;
    text-align: justify;
    font-style: italic;
}
.parent {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    }
    
    .div1 { 
        grid-area:  1 / 2 / 2 / 3;
    
    }
    .div2 { 
        grid-area: 1 / 3 / 2 / 4; 
        color: white;
        font-family: 'Kanit', sans-serif;
    }
    .div3 {
        grid-area:  2 / 2 / 3 / 3;
        color: white;
        font-family: 'Kanit', sans-serif;
        
    }
    .div4 { 
        grid-area: 2 / 3 / 3 / 4;
    }
    .div5 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .div6 {
        grid-area: 3 / 3 / 4 / 4;
        color: white;
        font-family: 'Kanit', sans-serif;
    } 
    .div7 {
        grid-area: 4 / 2 / 5 / 3;
        color: white;
        font-family: 'Kanit', sans-serif;
    }
    .div8 { 
        grid-area: 4 / 3 / 5 / 4; 
    }


.downloadPage {
    display: grid;
    margin: auto;
    margin-top: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .github { 
        grid-area: 2 / 2 / 3 / 3;
        color: white;border-radius: 40px;
        border: #303030 solid;
        background-color: #303030;
        height: 400px;
        width: 300px;
    }

    .codeSource { 
        grid-area: 2 / 3 / 3 / 4;
        color: white;border-radius: 40px;
        border: #303030 solid;
        background-color: #303030;
        height: 400px;
        width: 300px;
    }

    .download {
        grid-area: 2 / 4 / 3 / 5;
        color: white;border-radius: 40px;
        border: #303030 solid;
        background-color: #303030;
        height: 400px;
        width: 300px;
    }

    .titleBox {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
    }

    .textBox {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
        font-style: italic;
    }

    .pic {
        width: 100px;
        margin: auto;
        display: flex;
    }

    .buttonBox {
        display: flex;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: #00308F, solid;
        border-radius: 1000px;
        background-color: #00308F;
        color: white;
        width: 200px;
        height: 50px;
        font-family: 'Kanit', sans-serif;
        font-weight: bold;
        font-size: 20px;
        font-style: italic;
    }